<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDo9Zhkthr9r79-loAfOk55YnHEDcVzzaI",
        authDomain: "exam-pdd-b956f.firebaseapp.com",
        databaseURL: "https://exam-pdd-b956f.firebaseio.com",
        projectId: "exam-pdd-b956f",
        storageBucket: "exam-pdd-b956f.appspot.com",
        messagingSenderId: "325001725443",
        appId: "1:325001725443:web:28caef6039e8b670ec3036",
        measurementId: "G-7TMMLM8Y2G"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>