<aside class="sidebar">
    <div class="mobile_nav">
        <span class="logo">
            ПДД 2020
        </span>
        <span id="openMenu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
    </div>
    <header>
        <span class="logo">
            ПДД 2020
        </span>

        <nav>
            <ul class="main-menu" id="menu">
                <li><a href="/"><img src="assets/images/clipboard.svg" alt="Билеты ПДД">
                    Билеты ПДД
                </a></li>
                <li><a id="exam-online" href="examOnline.html"><img src="assets/images/truck.svg" alt="Экзамен онлайн">
                    Экзамен онлайн
                </a>
                    <ul class="sub-menu">
                        <li><a href="examOnline.html">Наш дизайн</a></li>
                        <li><a href="examOnline-gai.html">Дизайн ГАИ</a></li>
                    </ul>
                </li>
                <li><a href="difficultQuestions.html"><img src="assets/images/book.svg" alt="Сложные вопросы">
                    Сложные вопросы
                </a></li>
                <li><a href="rulesAndSigns.html"><img src="assets/images/book-open-1.svg" alt="Правила и знаки ">
                    Правила дорожного движения
                </a></li>
                <li><a href="signs.html"><img src="assets/images/signs.svg" alt="Знаки">Знаки</a>
                <li><a href="regionCodes.html"><img src="assets/images/codes.svg" alt="Коды регионов">Коды регионов</a>
                <li><a href="#" id="openContacts"><img src="assets/images/mail-1.svg" alt="Контакты">Контакты</a></li>
                </li>
            </ul>
        </nav>
        <div class="app">
            <p class="app_ttl">Приложение</p>
            <ul class="app_list">
                <li>
                    <a href="https://apps.apple.com/app/apple-store/id1236496483?pt=118249087&ct=pdd_web_version&mt=8"
                       target="_blank">
                        <i class="fa fa-apple" aria-hidden="true"></i> App Store
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.rocketapp.exampdd" target="_blank">
                        <i class="fa fa-android" aria-hidden="true"></i> Google Play
                    </a>
                </li>

            </ul>
        </div>
    </header>
    <footer>
        <p>
            <strong>
                Сообщество в Вк
            </strong>
        </p>
        <p class="gray-txt">
            Наши пользователи помогут со сложными вопросами!
        </p>
        <a href="https://vk.com/pdd_exam" target="_blank">Перейти в группу</a>
    </footer>
</aside>

<div id="contacts" class="modal">
    <div class="wrapper">
        <div class="modal_wrap">
            <div class="modal_head">
                <h2>Контакты</h2>
                <span class="close" id="closeModal">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            </div>
            <div class="modal_body">
                <form>
                    <p>Расскажите, как бы мы могли улучшить наш сервис? </p>
                    <textarea name="improveSite" placeholder="Сайту не хватает режимов…" required></textarea>
                    <div class="submit">
                        <button type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>