@font-face {
  font-family: "Molot";
  src: url("../fonts/molot.eot") format("eot"),
  url("../fonts/molot.woff") format("woff"),
  url("../fonts/molot.ttf") format("truetype"),
  url("../fonts/molot.svg") format("svg");
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
  url('../fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Medium.woff') format('woff'),
  url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
  url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
  url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Black'), local('SFProDisplay-Bold'),
  url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
  url('../fonts/SFProDisplay-Bold.woff') format('woff'),
  url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roadnumbers';
  src: url('../fonts/RoadNumbers2.0.eot');
  src: local('☺'), url('../fonts/RoadNumbers2.0.woff') format('woff'),
  url('../fonts/RoadNumbers2.0.ttf') format('truetype'),
  url('../fonts/RoadNumbers2.0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$blue: #5883dd;
$grn: #00bc6a;
$red: #e84867;
$molot: 'Molot';
$font: 'SF Pro Display';
$road: 'roadnumbers';

.ttl {
  font: {
    weight: bold;
    size: rem(21);
  }
  color: #252525;
  margin-bottom: 0;
}