@import "vars", "mixins";

.trafficList {
  padding: 50px 0;
  width: 835px;
  margin: 0 auto;

  &_head {
    padding-bottom: 20px;
    border-bottom: 2px solid #e8ecee;

    &__ttl {
      @extend .ttl;
      margin-bottom: 10px;

      span {
        margin-right: 10px;
      }
    }

    &__txt {
      letter-spacing: -0.1px;
      color: #585858;
      font-size: rem(15);
      opacity: 0.75;
      margin-bottom: 0;
    }
  }

  &_main {
    padding: 35px 0;

    ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      counter-reset: section;

      li {
        margin-bottom: 25px;
        font-size: rem(17);
        line-height: 1.47;
        letter-spacing: -0.09px;

        &::before {
          counter-increment: section;
          content: counters(section, ".") ".";
          opacity: 0.33;
          display: inline-block;
          width: 23px;
          margin-right: 9px;
        }

        a {
          display: inline-block;
          color: #252525;
          border-bottom: 2px solid transparent;
          transition: .25s color, border-bottom-color ease-out;
          text-decoration: none;

          &:hover {
            color: #5782dc;
            border-bottom-color: #5782dc;
          }
        }
      }
    }
  }
}

.trafficRules {
  display: none;
  width: 100%;

  &_main {
    display: table-cell;
    width: calc(100% - 334px);
    padding-top: 50px;
    position: relative;

    &__arrows {
      position: fixed;
      bottom: 0;
      left: 242px;
      border-top: 2px solid #e8ecee;
      padding: 22px 50px;
      background: #fff;
      width: calc(100% - 242px - 334px - 100px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: rem(14);
        line-height: 1.79;
        color: #000000;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: .25s color, border-bottom-color, opacity ease-out;
        opacity: 55%;
        position: relative;
        cursor: pointer;

        &:hover {
          color: #446ec6;
          border-bottom-color: #446ec6;
          opacity: 1;
        }

        &#prev {
          margin-left: 30px;

          &::before {
            content: url("../images/left.svg");
            filter: invert(1) grayscale(1);
            position: absolute;
            left: -30px;
          }

          &:hover::before {
            filter: none;
          }
        }
        &#next {
          margin-right: 30px;

          &::before {
            content: url("../images/right.svg");
            filter: invert(1) grayscale(1);
            position: absolute;
            right: -30px;
          }

          &:hover::before {
            filter: none;
          }
        }

      }
    }

    &__content {
      width: 530px;
      margin: 0 auto;
      padding-bottom: 120px;
    }

    h2 {
      font: {
        size: rem(28);
        weight: bold;
      }
      line-height: 1.43;
      margin-bottom: 30px;
    }

    h3 {
      font: {
        size: rem(19);
        weight: 600;
      }
      margin-bottom: 10px;
      line-height: 1.32;
    }

    ul {
      padding-left: 30px;
      margin: 0 0 10px;

      li {
        font-size: rem(15);
        line-height: 2;
      }
    }

    p {
      font-size: rem(15);
      line-height: 2;
      margin-bottom: 20px;
    }
  }

  &_aside {
    display: table-cell;
    width: 334px;
    background-color: #f6f8f9;
    padding-top: 42px;

    ul {
      padding-left: 0;
      margin: 0;
      list-style: none;
      counter-reset: section;

      li {
        font-size: rem(14);
        line-height: 1.47;
        letter-spacing: -0.09px;
        position: relative;

        &::before {
          counter-increment: section;
          content: counters(section, ".") ".";
          opacity: 0.33;
          position: absolute;
          top: 10px;
          bottom: 0;
          margin: auto;
          left: 25px;
        }

        a {
          display: block;
          padding: 10px 25px 10px 52px;
          border-left: 2px solid transparent;
          border-bottom: 1px solid #efefef;
          color: #252525;
          transition: .25s background-color, border-left-color ease-out;
          text-decoration: none;

          &:hover {
            background-color: #ebf0f8;
          }

          &.active {
            background-color: #ebf0f8;
            border-left-color: #5782dc;
          }
        }
      }
    }
  }

  .b-tab {
    display: none;

    &.active {
      display: block;
    }
  }
}

.signsLink{
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8ecee;
  svg{
    margin-right: 18px;
  }
  a{
    display: inline-block;
    font:{
      size:rem(17);
      weight: 500;
    }
    color: $blue;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    line-height: 1.47;
    letter-spacing: -0.09px;
    transition: .25s border-bottom-color ease-out;

    &:hover{
      border-bottom-color: $blue;
    }
  }
}