@import "vars", "mixins";

aside {
  background: $blue;
  padding: {
    top: 20px;
    bottom: 25px;
  }
  width: 242px;
  height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.mobile_nav{
  display: none;
  justify-content: space-between;
  width: 100%;
  .logo{
    margin-bottom: 0;
    padding-left: 0;
  }
  #openMenu{
    color: #fff;
  }
}

.logo {
  display: block;
  font-family: $molot;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding-left: 18px;
}

.main-menu {
  padding-left: 0;
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(122, 156, 227, 0.6);;

  li {
    margin-bottom: 10px;
    font-size: rem(14);

    a {
      color: #fff;
      transition: .25s color,background-color ease-out;
      padding-left: 8px;
      text-decoration: none;
      display: flex;
      height: 32px;
      align-items: center;

      img {
        margin-right: 9px;
        width: 17px;
        height: auto;
        object-fit: contain;
        max-height: 16px;
        opacity: .55;
        transition: .25s opacity ease-out;
      }

      &.active,
      &:hover{
        background-color: rgba(255, 255, 255, 0.21);
        img{
          opacity: 1;
        }
      }
      
      &.active + .sub-menu{
        display: block;
      }
      
    }

    .sub-menu{
      padding-left: 0;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.11);
      display: none;
      li{
        font-weight: 100;
        font-size: rem(13);
        margin-bottom: 0;
        a{
          padding-left: 44px;
          position: relative;
          &::after{
            content: '';
            width: 18px;
            height: 18px;
            border-radius: 5.4px;
            border: solid 1.2px #b3c7ef;
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
          }

          &.active{
            background: transparent;
            &::after{
              background: #fff url("../images/check.svg") center no-repeat;
            }
          }
        }
      }
    }
  }
}

.app{
 padding: {
   top: 17px;
   bottom: 17px;
 }
  &_ttl{
    color: rgba(255, 255, 255, 0.33);
    font:{
      size: rem(13);
      weight: 600;
    }
    margin:{
      bottom: 17px;
    }
    padding-left: 18px;
  }
  &_list{
    @extend .main-menu;
    i{
      font-size: rem(16);
      margin-right: 9px;
      width: 17px;
      max-height: 16px;
      opacity: .55;
      transition: .25s opacity ease-out;
    }
  }
}

footer{
  text-align: center;
  p{
    color: #fff;
    font:{
      size:rem(13);
      weight: 600;
    }
    margin-bottom: 5px;
    &.gray-txt{
      color: rgba(255,255,255,.6);
      font-size: rem(11);
      margin:{
        bottom: 15px;
        left: auto;
        right: auto;
      }
      max-width: 156px;
    }
  }
  a{
    display: inline-block;
    max-width: 170px;
    width: 100%;
    border: solid 1px #ffffff;
    background-color: rgba(78, 117, 198, 0);
    border-radius: 6px;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: rem(12);
    transition: .25s background-color ease-out;
    &:hover{
      background-color: rgba(78, 117, 198, 1);
    }
  }
}

/** RESPONSIVE **/
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: calc(100% - 30px);
    z-index: 9;
    height: auto;
    padding: 10px 15px;
    right: 0;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .mobile_nav {
      display: flex;
    }

    header{
      display: none;
      .logo{
        display: none;
      }
      .app{
        padding: 0;
      }
    }

    footer {
      display: none;
    }
  }
}
/** END RESPONSIVE **/