@import "mixins", "vars";

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

body {
  margin: 0;
  font: {
    size: rem(16);
    family: $font;
  }
  display: flex;
  flex-wrap: wrap;
  color: #252525;
}

main {
  width: calc(100% - 242px);
  margin-left: 242px;
}

.container {
  max-width: 845px;
  width: 100%;
  margin: 0 auto;
}

/* TESTS */
.head {
  border-bottom: 2px solid #e8ecee;
  padding: 24px 40px 25px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &_ttl {
    @extend .ttl;
  }

  &_list {
    padding-left: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 6px;
      border: 1px solid transparent;
      margin: 0 7px;
      color: #838383;
      letter-spacing: -0.08px;
      font-size: rem(11);
      transition: .25s border-color ease-out;
      cursor: pointer;

      &:hover {
        border-color: #838383;
      }

      &.completed {
        background-color: $blue;
        color: #fff;
      }

      &.correct {
        background-color: $grn;
        border-color: $grn;
        color: #fff;
      }

      &.wrong {
        background-color: $red;
        border-color: $red;
        color: #fff;
      }

      &.active {
        border-color: $blue;
        background-color: rgba(88, 131, 221, 0.1);
        color: $blue;
      }
    }
  }

  &_timer {
    width: 74px;
    height: 34px;
    border-radius: 6px;
    background-color: #f6f8f9;
    display: block;
    text-align: center;
    line-height: 34px;
    font: {
      size: rem(15);
      weight: 500;
    }
    color: #4a76d2;
  }
}

.exam {
  background-color: #f6f8f9;
}

.checkmark {
  position: absolute;
  top: 16px;
  left: 20px;
  height: 18px;
  width: 18px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  border: solid 1.5px #cdcdcd;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.form {
  &-group {
    border-bottom: 1px solid #efefef;
  }

  &-container {
    display: block;
    position: relative;
    padding: 15px 25px 15px 53px;
    cursor: pointer;
    font-size: rem(16);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .25s background-color ease-out;
    line-height: 1.43;
    border-left: 2px solid transparent;

    &.checked {
      border-left-color: $blue;
      background-color: #eef2fb;

      &:hover {
        background-color: #eef2fb;
      }
    }

    &.wrong {
      background-color: #fff5f8;
      border-left-color: $red;
      color: $red;

      .checkmark,
      input:checked ~ .checkmark {
        background-color: $red;
        border-color: $red;

        &:after {
          display: block;
          background: url("../images/close.png") 5px center no-repeat;
          background-size: 8px;
        }
      }
    }

    &.correct {
      background-color: #f3fcf8;
      border-left-color: $grn;
      color: $grn;

      p {
        margin-top: 10px;
        margin-bottom: 0;
        color: #252525;
        font-size: rem(14);
      }

      .checkmark,
      input:checked ~ .checkmark {
        background-color: $grn;
        border-color: $grn;

        &:after {
          display: block;
        }
      }
    }

    &:hover {
      background-color: #f6f8f9;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: $blue;
        border-color: $blue;

        &:after {
          display: block;
        }
      }
    }

    .checkmark:after {
      width: 100%;
      height: 100%;
      background: url("../images/shape.svg") center no-repeat;
    }
  }
}

.ticket {
  background-color: #fff;
  max-width: 678px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 76px 35px;
  height: 100%;
  min-height: 100vh;

  .nextQuestion {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    line-height: 36px;
    width: 172px;
    text-align: center;
    border-radius: 6px;
    background-color: $blue;
    color: #fff;
    text-decoration: none;
    font-size: rem(12);
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto 20px;
  }

  &_ttl {
    font: {
      size: rem(26);
      weight: 600;
    }
    letter-spacing: -0.1px;
    color: #252525;
    margin-bottom: 15px;
  }
}

/** END TESTS **/

/** APPS **/
.apps {
  padding-top: 50px;

  &_wrap {
    max-height: 100px;
    border-radius: 10px;
    background-image: linear-gradient(277deg, #6590e1, #5782dc);
    position: relative;
    padding: 25px 45px 25px 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      margin: auto;
      left: 0;
      background: url("../images/apps-bg.png") right center no-repeat;
      z-index: -1;
    }

    #close {
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 15px;
      font-size: 1.125rem;
    }

    &__txt {
      h2 {
        font: {
          size: rem(23);
          weight: bold;
        }
        line-height: 1.13;
        letter-spacing: -0.06px;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
        line-height: 1.92;
        letter-spacing: -0.08px;
        opacity: 0.75;
        font: {
          size: rem(12)
        }
      }
    }

    &__btns {
      height: 50px;

      a {
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
        text-decoration: none;
        width: calc(152px - 27px);
        padding: 11px 12px 11px 15px;
        border-radius: 8px;
        background-color: #5179cc;
        color: #fff;

        &.apple-btn {
          width: calc(142px - 27px);
        }

        img {
          float: left;
          margin-right: 10px;
        }

        h6 {
          opacity: 0.75;
          font-size: rem(10);
          margin-bottom: 0;
          font-weight: 100;
        }

        h4 {
          line-height: 1.09;
          letter-spacing: -0.55px;
          font: {
            size: rem(17);
            weight: 500;
          }
          margin-bottom: 0;
        }
      }
    }
  }
}

/** END APPS **/

/** ALL TICKETS **/

.allTickets {
  padding-top: 50px;

  &_head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #e8ecee;

    h1 {
      @extend .ttl;
      line-height: 1.14;
    }
  }

  .tooltip {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    z-index: 6;

    &:hover {
      .tooltip-info {
        visibility: visible;
        opacity: 1;
      }
    }

    .tooltip-info {
      visibility: hidden;
      opacity: 0;
      transition: .25s visibility, opacity ease-out;
      position: absolute;
      top: 35px;
      left: -68px;
      width: 200px;
      background: #fff;
      padding: 20px;
      color: #252525;
      font: {
        size: rem(11);
        weight: normal;
      }
      line-height: 1.55;
      box-shadow: 0 10px 86px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      &:after {
        bottom: 100%;
        left: 83px;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: 14px solid rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        margin-left: -20px;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: 160px;

  }

  .col {
    display: inline-block;
    width: 140px;
    height: 160px;
    margin: 0 16px;

    &-wrap {
      width: 100px;
      padding: 20px;
      border-radius: 10px;
      background-color: #f6f8f9;
      margin: 20px auto;
      height: 80px;
      transition: .25s max-height, transform ease-out;

      &:hover {
        height: 120px;
        transform: translateY(-20px);

        .col_btn {
          visibility: visible;
          opacity: 1;
        }
      }

      &.completed {
        .col_num {
          color: $grn;
          position: relative;

          &::after {
            content: url("../images/check-circle.svg");
            width: 15px;
            height: 16px;
            position: absolute;
            right: 0;
            top: -3px;
          }
        }
      }
    }

    &:nth-child(5n+1) {
      margin-left: 0;
    }

    &:nth-child(5n) {
      margin-right: 0;
    }

    &_num {
      font-size: rem(13);
      font-weight: 600;
      line-height: 1.08;
      color: $blue;
      margin-bottom: 10px;
    }

    &_qty {
      font-size: rem(24);
      font-weight: 500;
      color: #252525;
      margin-bottom: 3px;

      &__info {
        letter-spacing: -0.09px;
        color: #838383;
        font-size: rem(12);
        margin-bottom: 10px;
      }
    }

    &_btn {
      visibility: hidden;
      opacity: 0;
      transition: .25s visibility, opacity ease-out;

      a {
        display: block;
        padding: 0 28px;
        margin: 10px auto 0;
        height: 32px;
        line-height: 32px;
        border-radius: 7px;
        font: {
          size: rem(11);
          weight: bold;
        }
        text: {
          transform: uppercase;
          decoration: none;
        }
        transition: .25s color, background-color ease-out;
        color: #5c88e3;
        background-color: rgba(78, 117, 198, 0.12);

        &:hover {
          background-color: rgba(78, 117, 198, 1);
          color: #fff;
        }

        &.completed {
          color: $grn;
          background-color: rgba(0, 188, 106, 0.12);

          &:hover {
            background-color: rgba(0, 188, 106, 1);
            color: #fff;
          }
        }
      }
    }
  }

  /** TABS **/
  .b-tab {
    padding: 20px 0;
    display: none;
  }

  .b-tab.active {
    display: block;
  }

  .b-nav-tab {
    display: inline-block;
    padding: 0 25px;
    height: 28px;
    line-height: 28px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: .25s background-color, color, border-color ease-out;
    letter-spacing: normal;
    color: #4e7ad4;
    font: {
      size: rem(11);
      weight: 500;
    }
    text-decoration: none;
    margin: 0 8px;

    &:hover {
      border-color: #5c88e3;
    }

    &.active {
      color: #fff;
      background-color: #5c88e3;
      border-color: #5c88e3;
    }
  }

  /** END TABS **/
}

/** END ALL TICKETS **/

/** REGION CODES **/
.regionCodes {
  padding-top: 110px;
  padding-bottom: 110px;

  h1 {
    @extend .ttl;
    margin-bottom: 30px;
  }

  p {
    line-height: 2;
    font: {
      size: rem(15);
      weight: 500;
    }
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;

    thead {
      tr {
        border-bottom: 2px solid #e8ecee;
      }

      th {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        text-align: left;
        font: {
          size: rem(17);
          weight: bold;
        }
        min-width: 162px;
        max-width: 249px;

        &:last-child {
          width: 360px;
        }
      }
    }

    #regionCodes {
      display: block;
    }
  }

  .reg {
    width: 595px;
    border: 1px solid #000;
    border-radius: 20px;
    height: 129px;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 45px;
    font-family: $road;

    .tooltip {
      box-shadow: 0 10px 86px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 16px 20px;
      position: absolute;
      font: {
        family: $font;
        size: rem(11);
        weight: normal;
      }
      visibility: hidden;
      opacity: 0;
      transition: .25s visibility, opacity ease-out;
      bottom: 0;
      left: 50px;
      font: {
        size: rem(11);
        weight: normal;
      }
      line-height: 1.55;
      border-radius: 10px;

      &:after {
        bottom: 100%;
        left: 83px;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: 14px solid rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        margin-left: -20px;
        box-shadow: 0 10px 86px 0 rgba(0, 0, 0, 0.2);
      }
    }


    &_body {
      border: 5px solid #000;
      border-radius: 20px;
      display: flex;
      align-items: baseline;
      height: calc(100% - 10px - 23px);
      width: calc(100% - 147px - 55px);
      background-color: #fff;
      position: relative;
      padding: 10px 25px 13px 30px;

      &::before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        background-color: #000;
        border-radius: 50%;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
      }

      &__series {
        font: {
          size: 9.25rem;
        }
        position: relative;
        cursor: pointer;

        .tooltip {
          left: 25px;
          bottom: -23px;

          &::after {
            left: 36px;
          }
        }

        &::after {
          content: 'AA';
          position: absolute;
          left: 273px;
          top: 0;
        }

        &::before {
          content: '';
          background-color: rgba(255, 255, 255, .67);
          position: absolute;
          left: -41px;
          top: -41px;
          width: 608px;
          height: 146px;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          transition: .25s visibility, opacity ease-out;
        }

        &:hover {
          z-index: 3;

          &::before, .tooltip {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &__num {
        font-size: 9.25rem;
        line-height: 1.05;
        margin: 0 17px;
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          background-color: rgba(255, 255, 255, .67);
          position: absolute;
          left: -117px;
          top: -21px;
          width: 608px;
          height: 141px;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          transition: .25s visibility, opacity ease-out;
        }

        &:hover {
          z-index: 3;

          &::before, .tooltip {
            opacity: 1;
            visibility: visible;
          }
        }

        .tooltip {
          width: 170px;
        }
      }

    }

    &_flag {
      width: 112px;
      border: 5px solid #000;
      border-left: 0;
      border-radius: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: calc(100% - 20px);
      position: relative;
      background-color: #fff;
      padding: 5px 10px;

      img {
        width: 116px;
      }

      span {
        font-size: 6.75rem;
        line-height: .5;
        letter-spacing: 8px;
      }

      &::before {
        content: '';
        display: block;
        width: 35px;
        height: calc(100% + 10px);
        background: #000;
        position: absolute;
        top: -5px;
        left: -17px;
        z-index: -1;
      }

      &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        background-color: #000;
        border-radius: 50%;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
      }
    }
  }
}

.flex-table {
  display: flex;
  flex-flow: row wrap;

  &.header {
    font: {
      size: rem(17);
      weight: bold;
    }
    border-bottom: 2px solid #e8ecee;
    margin-bottom: 25px;

    .flex-row {
      padding-bottom: 20px;
    }
  }

  &.row {
    border-left: 2px solid transparent;
    transition: .25s border-left-color, background-color ease-out;
    font: {
      size: rem(14);
      weight: 500;
    }
    letter-spacing: -0.07px;

    &:hover {
      border-left-color: $blue;
      background-color: #eef2fb;
    }

    &:first-child {
      padding-top: 25px;
    }
  }
}

.flex-row {
  width: calc(100% / 2 - 111px);
  padding: 10px;

  &.first {
    width: 162px;
  }

  span {
    display: inline-block;
    width: 58px;
    text-align: center;
  }
}

/** END REGION CODES **/


/** DIFFICULT QUESTIONS **/
.ticket_head__timer {
  opacity: 0;
  visibility: hidden;
}

.questions {
  @extend .exam;

  &_head {
    padding-bottom: 15px;
  }

  &_head {
    &__list {
      max-width: 760px;

      li {
        margin-bottom: 10px;
      }

      .correct {
        background-color: $grn;
        border-color: $grn;
        color: #fff;
      }

      .wrong {
        background-color: $red;
        border-color: $red;
        color: #fff;
      }
    }

    &__ticket {
      height: calc(100vh - 70px - 109px);

      &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &.ticket-wrap {
          justify-content: flex-end;
        }

        span {
          opacity: 0.1;
          font: {
            size: rem(24);
            weight: 900;
            style: italic;
          }
        }

        .tooltip {
          width: 30px;
          height: 30px;
          position: relative;
          top: 3px;
          display: inline-block;
          margin-left: 15px;
          cursor: pointer;
          z-index: 6;

          &:hover {
            .tooltip-info {
              visibility: visible;
              opacity: 1;
            }
          }

          .tooltip-info {
            visibility: hidden;
            opacity: 0;
            transition: .25s visibility, opacity ease-out;
            position: absolute;
            top: 55px;
            left: -165px;
            width: 310px;
            background: #fff;
            padding: 25px;
            color: #252525;
            font: {
              size: rem(11);
              weight: normal;
            }
            line-height: 1.55;
            box-shadow: 0 10px 86px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;

            h6 {
              font: {
                size: rem(15);
                weight: 600;
              }
              margin-bottom: 10px;

              img {
                width: 12px;
                height: 12px;
                display: inline-block;
                margin: 0 10px 0 0;
              }
            }

            p {
              line-height: 1.75;
              font-size: rem(12);
              margin-bottom: 0;
            }

            &:after {
              bottom: 100%;
              left: 0;
              right: 0;
              margin: auto;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border: 14px solid rgba(255, 255, 255, 0);
              border-bottom-color: #fff;
              //margin-left: -20px;
            }
          }
        }
      }
    }
  }
}

/** END DIFFICULT QUESTIONS **/

/** MODAL **/
.modal {
  display: none;
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 53, 100, 0.5);

  &#examDone {
    .modal_body {
      padding: 0;
      display: flex;

      &.failed {
        .modal_body__img {
          background: url("../images/oval-copy-left-red.svg") 0 0 no-repeat,
          url("../images/oval-copy-right-red.svg") right bottom no-repeat;
          background-color: #fcedf0;

          svg g {
            fill: $red !important;
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &_wrap {
    border-radius: 10px;
    background-color: #ffffff;
    width: 583px;
    position: relative;
  }

  &_head {
    padding: 16px 20px 10px 32px;
    border-bottom: 1px solid #e8ecee;

    h2 {
      @extend .ttl;
      margin-bottom: 0;
    }
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 18px;
    font-size: 1.125rem;
    color: rgba(30, 53, 100, 0.5);
  }

  &_body {
    padding: 21px 31px 30px 32px;

    p {
      font-size: rem(14);
      margin-bottom: 15px;
    }

    textarea {
      height: 102px;
      border-radius: 5px;
      border: solid 1px #8a96ae;
      width: calc(100% - 22px);
      resize: none;
      padding: 15px 11px;
      color: #252525;
      font: {
        size: rem(12);
        family: $font;
      }
      margin-bottom: 30px;

      &:active,
      &:focus {
        outline: none;
      }
    }

    .submit {
      text-align: right;

      button {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        border: solid 1px rgba(138, 150, 174, 0.1);
        background-color: #f4f4f4;
        border-radius: 6px;
        padding: 0 30px;
        font: {
          size: rem(12);
          weight: 500;
        }
        color: #8a96ae;
        cursor: pointer;
        transition: .25s background-color, color ease-out;

        &:active,
        &:focus {
          outline: none;
        }

        &.active {
          background-color: #5883dd;
          color: #fff;
        }
      }
    }

    &__img {
      width: 50%;
      border-radius: 10px;
      background: url("../images/oval-copy-left.svg") 0 0 no-repeat,
      url("../images/oval-copy-right.svg") right bottom no-repeat;
      background-color: #eef2fb;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__result {
      padding-top: 50px;
      padding-bottom: 33px;

      h3 {
        font: {
          size: rem(32);
          weight: bold;
        }
        margin-bottom: 30px;
        text-align: center;
      }

      .result {
        &_questions {
          margin-left: 50px;
          display: inline-block;
          vertical-align: top;

          img, svg {
            margin-bottom: 10px;

            &.fail g {
              stroke: $red !important
            }
          }

          p {
            font: {
              size: rem(21);
              weight: 600;
            }
            line-height: 1.19;
            margin-bottom: 2px;

            &.gray-txt {
              opacity: 0.5;
              font: {
                size: rem(12);
                weight: normal;
              }
              margin-bottom: 20px;
            }
          }
        }

        &_btns {
          padding: 30px 44px 0;

          a {
            display: block;
            height: 36px;
            line-height: 36px;
            width: 201px;
            border-radius: 6px;
            text-decoration: none;
            text-align: center;
            font-size: rem(12);
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;

            img {
              margin-right: 10px;
              position: relative;
              top: 2px;
            }

            &.answers-btn {
              color: $blue;
              background-color: #eef2fb;
            }

            &.restart-btn {
              color: #fff;
              background-color: $blue;
            }
          }
        }
      }
    }

  }
}

/** END MODAL **/

/** SIGNS **/
.signs {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  &_head {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #e8ecee;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;

    h1 {
      @extend .ttl;
    }
  }

  .searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    background-color: #fff;
    transition: 0.25s transform ease-out;
    position: absolute;

    &.open {
      transform: translateX(0);
    }

    &.close {
      transform: translateX(1000%);
    }

    input {
      margin-left: 25px;
      width: calc(100% - 45px);
      line-height: 24px;
      border: 0;
      font-size: rem(13);
      color: #000;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  &_item {
    display: flex;
    margin-bottom: 25px;

    &__img {
      flex: 0 0 135px;
      max-width: 135px;

      img {
        max-width: 120px;
      }
    }

    &__txt {
      flex: 0 0 calc(100% - 135px);
      max-width: calc(100% - 135px);

      h3 {
        font-size: rem(19);
        margin-bottom: 15px;
      }

      p {
        font-size: rem(15);
        letter-spacing: -0.11px;
        color: #838383;
        margin-bottom: 0;
      }
    }
  }

  /** TABS **/
  .b-tab {
    padding: 20px 0;
    display: none;
  }

  .b-tab.active {
    display: block;
  }

  .b-nav-tab {
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: .25s background-color, color, border-color ease-out;
    letter-spacing: normal;
    color: #4e7ad4;
    font: {
      size: rem(13);
      weight: 500;
    }
    text-decoration: none;
    margin: 8px;
    background-color: rgba(92, 136, 227, 0.05);

    &:hover {
      border-color: #5c88e3;
    }

    &.active {
      color: #fff;
      background-color: #5c88e3;
      border-color: #5c88e3;
    }
  }

  /** END TABS **/
}

.notFound {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 257px);

  img {
    margin-bottom: 15px;
  }

  h4 {
    font: {
      size: rem(17);
      weight: 600;
    }
    line-height: 1.41;
    margin-bottom: 6px;
  }

  p {
    font-size: rem(15);
    opacity: 0.33;
    margin-bottom: 0;
  }
}

/** END SIGNS **/


/** GAI **/
.gai {
  background-color: #f6f8f9;
  position: relative;

  #list {
    display: none;
    padding-left: 3.5px;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 242px;
    width: calc(100% - 3.5px);

    li {
      width: 55px;
      height: 55px;
      background-color: $blue;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 1.5px;
      color: #fff;
      font-size: rem(19);
      cursor: pointer;

      &.completed {
        background-color: #b7cfff;
      }
    }
  }

  &_head {
    padding-top: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e1e1e1;
    justify-content: center;
    background-color: #f6f8f9;
    position: relative;

    #ticketNum {
      position: absolute;
      left: 32px;
      top: 16px;
      font: {
        size: rem(21);
        weight: 500;
      }
    }

    .head_timer {
      font-size: rem(21);
      color: #4875d2;
    }
  }

  &_body {
    padding-top: 14px;

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        width: 280px;
        height: 138px;
        position: relative;
        margin: 6px;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2), -2px -2px 0 0 #ffffff;
        display: flex;
        align-items: center;
        font-size: rem(13);
        font-weight: 500;
        letter-spacing: -0.05px;
        cursor: pointer;
        overflow: hidden;

        p {
          padding-left: 15px;
          padding-right: 45px;
          margin-bottom: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.completed .gai-number {
          background-color: #b7cfff;
        }
      }
    }
  }

  &-number {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: -0.14px;
    font-size: rem(19);


  }

  &_question {
    @extend .ticket;
    max-width: 1058px;
    background: transparent;
    height: calc(100vh - 64px - 70px);
    display: none;

    img {
      border-radius: 0;
      margin-left: 50px;
      margin-right: 50px;
      width: calc(100% - 100px);
    }

    h2 {
      margin-left: 50px;
      margin-right: 50px;
      font-size: rem(21);
      font-weight: bold;
      margin-bottom: 6px;
    }

    .form-group {
      border-bottom: 0;
    }

    .form-container {
      font-size: rem(21);
      line-height: 0.95;
      padding: 15px 50px;
      border: 2px solid transparent;

      &:hover {
        background-color: #eeeeee;
      }

      &.completed {
        border-color: $blue;
      }
    }
  }

  #result {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 575px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.21px;
    text-align: center;
    color: #ffffff;

  }

  &.failed {
    pointer-events: none;

    .gai_head,
    #result {
      background-color: #fb262d;

      #ticketNum,
      .head_timer {
        display: none;
      }
    }

    .gai_head {
      height: 55px;
      padding: 0;
    }
  }

  &.success {
    @extend .gai.failed;

    .gai_head,
    #result {
      background-color: #07e382;
    }
  }
}

/** END GAI **/


/** RESPONSIVE **/
@media (max-width: 1115px) {

  .container {
    max-width: 720px;
  }
  .allTickets .col {
    margin: 0 2px;
  }

  .head_list {
    max-width: 420px;
  }
  .ticket {
    max-width: 480px;
  }

  .trafficList {
    max-width: 720px;
  }
  .trafficRules_aside {
    min-width: 225px;
    width: 225px;
  }
  .trafficRules_main {
    width: calc(100% - 225px);
  }
  .trafficRules_main__content {
    width: 90%;
  }

  .trafficRules_aside ul li a {
    padding-left: 33px;
  }
  .trafficRules_aside ul li::before {
    left: 12px;
  }

  .trafficRules_main__arrows {
    width: calc(100% - 242px - 225px - 40px);
    padding: 20px;
  }

  .gai_question {
    max-width: 590px;
  }

  .gai #list li {
    width: 34px;
    height: 34px;
  }

}

@media (max-width: 991px) {
  aside {
    width: 190px;
  }

  main {
    width: calc(100% - 190px);
    margin-left: 190px;
  }

  .container, .trafficList {
    max-width: 550px;
  }


  .allTickets .col {
    margin: 0 8px;
    width: 120px;

    .col-wrap {
      width: 80px;
    }

    &:nth-child(5n+1),
    &:nth-child(5n) {
      margin: 0 8px;
    }
  }

  .allTickets .col_btn a {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .apps {
    padding-top: 20px;
  }

  .apps_wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .allTickets .row .col {
    width: 84px;
    padding: 10px;
  }

  .allTickets .row {
    height: auto;
    margin-bottom: 4px;
  }

  .allTickets .row .col_qty {
    font-size: 1.25rem;
  }
  .trafficList_main ul li a {
    display: inline;
  }

  .trafficRules_main {
    width: calc(100% - 190px);
  }

  .trafficRules_main__arrows {
    width: calc(100% - 225px - 190px - 40px);
    left: 190px;
  }

  .gai_question {
    max-width: 490px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .gai #list {
    left: 190px;
    width: calc(100% - 194px);

    li {
      margin: 1.5px;
    }
  }

}

@media (max-width: 768px) {

  main {
    width: 100%;
    margin-left: 0;
  }

  .container, .trafficList {
    max-width: 550px;
  }
  .allTickets .row .col {
    margin: 0 2px;
  }

  .apps {
    padding-top: 50px;
  }


  .allTickets .row .col {
    width: 84px;
    padding: 10px;
  }

  .allTickets .row {
    height: 140px;
    margin-top: 10px;
  }

  .allTickets .row .col_btn a {
    text-align: center;
    padding: 0;
  }

  .head_list li {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .modal_wrap {
    width: 90%;
  }

  .ticket {
    max-width: 430px;
    padding: 35px;
  }

  .exam {
    padding-top: 40px;
  }

  .trafficRules_main__arrows {
    width: calc(100% - 225px - 40px);
    left: 0;
    flex-wrap: wrap;
  }

  .trafficRules_main__content {
    padding-bottom: 150px;
  }

  .trafficRules_main__arrows a {
    width: 100%;
  }

  .trafficRules_main__arrows a#next {
    margin-top: 15px;
    text-align: right;
  }

  .questions_head__ticket-wrap .tooltip .tooltip-info {
    left: auto;
    right: 0;
    border-top-right-radius: 0;
    z-index: 6;

    &::after {
      left: auto;
    }
  }

  .allTickets .b-tab {
    text-align: center;
  }

  .gai #list {
    left: 0;
    right: 0;
    margin-left: 0;
    width: 100%;
  }

  .gai_question {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 545px;
  }

}

@media (max-width: 576px) {

  .container, .trafficList {
    max-width: 95%;
  }

  .apps_wrap {
    padding: 10px;

    &::before {
      background-position: left bottom;
    }
  }

  .apps_wrap__txt {
    width: 100%;
    text-align: center;
  }

  .apps_wrap__btns {
    height: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .apps_wrap__btns a {
    margin: 0;
    max-width: 130px;
    padding: 7px;
    text-align: left;
  }

  .tabs-menu {
    margin-top: 10px;
  }

  .allTickets .row {
    justify-content: center;
    height: auto;
    margin-top: 0;
  }

  .allTickets .row .col {
    margin: 10px;
    width: 100px;
    padding: 15px;

    &:first-child {
      margin-left: 10px;
    }

    &:nth-child(5) {
      margin-right: 10px;
    }
  }

  .allTickets .b-nav-tab {
    margin-left: 6px;
    margin-right: 6px;
  }

  .ticket {
    width: calc(100% - 30px);
    padding: 15px;
  }

  .ticket_ttl {
    font-size: 1.25rem;
  }

  .checkmark {
    left: 2px;
  }

  .form-container {
    padding-left: 31px;
  }

  .modal#examDone .modal_body {
    flex-wrap: wrap;
  }

  .modal_body {
    padding: 15px;
  }

  .modal_body__img {
    width: 100%;
  }

  .modal_body__result {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .modal_body__result h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .modal_body__result .result_btns {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .trafficRules_aside {
    //display: block;
    width: 100%;
    display: none;
  }

  .trafficRules_main {
    display: block;
    width: 100%;
  }

  .trafficRules_main h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .trafficRules_main p {
    margin-bottom: 10px;
  }

  .trafficRules_main__arrows {
    width: calc(100% - 40px);
    z-index: 9;
  }

  .trafficRules_main__content {
    padding-bottom: 200px;
  }

  .questions_head__ticket-wrap .tooltip .tooltip-info {
    width: 220px;
  }

  .regionCodes {
    padding-top: 50px;

    .reg_flag {
      width: 50px;
    }

    .reg_body {
      width: calc(100% - 50px - 55px);
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .regionCodes .reg {
    width: 280px;
    height: 66px;
    padding: 2px;
    border-radius: 15px;
    overflow: hidden;
  }

  .regionCodes .reg_body__series {
    font-size: 4rem;

    &::after {
      left: 115px;
    }
  }

  .regionCodes .reg_body__num {
    font-size: 4rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .regionCodes .reg_flag span {
    font-size: 2rem;
  }
  .regionCodes .reg_flag img {
    width: 50px;
  }

  .regionCodes .reg .tooltip {
    bottom: -42px;
    left: -16px;
  }

  .regionCodes .reg_flag {
    border-radius: 15px;

    &::after {
      width: 5px;
      height: 5px;
      right: 5px;
    }
  }
  .regionCodes .reg_body {
    border-radius: 15px;

    &::before {
      width: 5px;
      height: 5px;
      left: 5px;
    }
  }

  .flex-row {
    font-size: .875rem;
    width: calc(100% / 2 - 43px);
    padding: 10px 5px;

    &.first {
      padding-left: 0;
      width: 60px;
    }
  }

  .flex-row span {
    width: 40px;
  }

  .signs .b-nav-tab {
    height: auto;
    line-height: normal;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .signs_item {
    flex-wrap: wrap;
  }

  .signs_item__img,
  .signs_item__txt {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .gai_question {
    padding-bottom: 150px;

    img {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    h2 {
      margin-left: 0;
      margin-right: 0;
      font-size: 1rem;
    }

    .form-container {
      font-size: 1rem;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .gai {
    padding-top: 44px;

    &.failed #result,
    &.success #result {
      position: fixed;
      width: 90%;
    }
  }

  .gai_head #ticketNum {
    left: 9px;
    top: 20px;
  }
}

/** END RESPONSIVE **/